/* super basic reset */

html,
body,
div {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

body {
    min-width: 100vw;
    min-height: 100vh;
}




/* minimal starter template */

body {
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
    background: transparent;
}

div.olay {}

div.mod {}
