@use '../_default.scss';

/*---------------------
quotes

available selectors:

div.mod
div.mod div.quote
div.mod div.author
---------------------*/

div.mod {
    font-family: sans-serif;
    font-size: 24px;

    div.quote {
        font-family: serif;
    }

    div.author {
        font-size: 18px;
    }
}
