@use '../_default.scss';

/*---------------------
quotes
---------------------*/

.mod {
    font-family: sans-serif;
    font-size: 24px;

    .quote {
        font-family: serif;
    }

    .author {
        font-size: 18px;
    }
}
