@use '../_default.scss';

/*---------------------
Goal
---------------------*/

.mod {
    font-family: sans-serif;
    font-size: 24px;

    .description {
        font-weight: bold;
    }

    .current {
        display: inline-block;
    }

    .current::after {
        content: ' / ';
    }

    .target {
        display: inline-block;
    }

    .unit {
        display: inline-block;
    }
}
