@use '../_default.scss';

/*---------------------
goal

available selectors:

div.mod
div.mod div.description
div.mod span.current
div.mod span.target
div.mod span.unit
---------------------*/

div.mod {
    font-family: sans-serif;
    font-size: 24px;

    div.description {
        font-weight: bold;
    }

    span.current {
        font-family: monospace;
    }

    span.current::after {
        content: ' / ';
    }

    span.target {
        font-family: monospace;
    }

    span.unit {
        font-style: italic;
    }
}
