@use '../_default.scss';

/*---------------------
colorfader
---------------------*/

.mod {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}
