/*----------------------------------------
goal theme: simple
----------------------------------------*/
.mod {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 5px;
  color: #222222;
  background-color: #e7e7e7;
}
